@charset "utf-8";

@import 'variables';
@import 'mixins';

// Fonts
@include font-face(Itcross-icons, $theme_path + '/fonts/_compiled/Itcross-icons', 500, normal, eot woff ttf);

img {
  max-width:100%;
}
.node .field--type-image {
  float:none;
}

.navbar-brand {
  display: inline-flex;
  align-items: center;
  font-weight:700;
  img {
    margin-right:15px;
  }
}

/* Styles for bootstrap_layout */
#drupal-off-canvas {
  select[multiple] {
    -webkit-appearance: none;
    padding:0;
  }
  .form-check {
    padding-left:0;
    display:inline;
    top: -2px;
  }
  button, .button {
    color: #fff;
    background-color: $azure_radiance;
    padding: 0.375rem 0.75rem !important;
    margin-bottom:0;
    font-size: 1em;
    &:hover {
      text-decoration:none;
    }
  }
} 
